* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
*::selection{
    background-color: #e66465;
}
body{
    background: radial-gradient(#e66465, #9198e5);
    height: 100vh;
}
#container{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 700px;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: row;
    border-radius: 40px 0;
    box-shadow: 2px 2px 4px #00000010, -2px -2px 4px #00000010;
}
#calculator , #guide{
width: 50%;
height: 100%;
padding: 20px 0;
}
#guide{
    line-height: 50px;
    padding: 50px 20px;
    color: white;
    background-color: rgb(8, 99, 99);
}
#guide h2, #calculator h2 {
    font-weight: bold;
    
}
#calculator .h2-calculator{
    color: rgb(8, 99, 99);
}
#guide ul{
    list-style: none;
    font-size: large;
}
#calculator {
    padding: 50px 20px;
}
#calculator input[type="text"]{
    height: 45px;
    width: 310px;
    margin: 10px 0;
    padding: 0px 15px;
    outline: none;
}
#calculator input[type="text"]:focus{
    border: none;
    border-radius: 3px;
   outline: 2px solid rgb(8, 99, 99);
}
#calculator input[type="text"]::placeholder{
    color: rgb(8, 99, 99) ;
}

#calculator input[type="submit"]{
    height: 50px;
    width: 310px;
    margin: 20px 0;
    padding: 0px 15px;
    border: none;
    outline: none;
    background-color: rgb(8, 99, 99);
    font-weight: 800;
    color: white;
}
#calculator input[type="submit"]:hover{
    color: rgb(8, 99, 99);
    border: 3px solid rgb(8, 99, 99);
    background-color: white;
}
#calculator #yourBMI ,#calculator #result{
    font-size: 20px;
    color: #e66465;
    font-weight: 800;
}
@media (max-width:700px) {
    #container{
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 500px;
        width: 350px;
        overflow: hidden;
        background: white;
        display: flex;
        flex-direction: column;
        border-radius: 40px 0;
        box-shadow: 2px 2px 4px #00000010, -2px -2px 4px #00000010;
    }
    #guide{
       display: none;
    }
}
